name: CD - Deploy to VPS

on:
  push:
    branches: ["main"]

if: false


jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Update repository on server
        with:  
          script: |
            cd ~/app
            git pull origin master

      - name: Stopping docker containers and delete old images
        with:
          script: |
            docker stop frontend backend
            docker rm frontend backend
            docker system prune
      
      - name: Build and run new images.
        with:
          script: |
            cd ~/app/frontend
            docker build frontend:latest .
            docker run -d --name frontend -p 80:80 frontend:latest
            cd ../server
            docker build backend:latest
            docker run -d --name backend -p 3000:3000 backend:latest

